<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chit-Chat web app Server</title>
</head>
<body class="flex flex-col justify-center items-center min-h-screen w-full bg-[#15161D] text-white antialiased">
    <main class="flex justify-center items-center font-black text-xl md:text-6xl">
        <section class="flex flex-col justify-center items-center w-full h-screen">
            <div>Hi there!</div>
            <h1>This is Chit-Chat web app Server</h1>
        </section>
    </main>
</body>
</html>